@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
    background: black;
}

.myclock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    /* font-family: Orbitron; */
    letter-spacing: 7px;
    font-family: 'Tilt Prism', cursive;

}

.icon{
    color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    font-size: 130px;
}